aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx

# MongoDB (stable with Python 3.10)
motor==3.3.2
pymongo==4.6.1
py-tgcalls==0.9.7
pillow==11.0.0
psutil
pykeyboard
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
unidecode
yt-dlp
yt-search-py

# Pyrogram (tested)
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip

# Voice calls (LEGACY – very important)
git+https://github.com/pytgcalls/pytgcalls@legacy

tgcrypto;sys_platform != "win32"
uvloop;sys_platform != "win32"